.login-page{
    min-height: 100vh;
    background: #eee;
    padding-top: 100px;
}

.login-form{
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
    border-radius: 10px;
}

.login-form h1 {
    text-align: center;
    display: block;
    font-size: 22px;
    width: 100%;
    margin-bottom: 20px;
}